.odd{
    background-color:rgb(226, 136, 151);
    font-family:Verdana, "DejaVu Sans", sans-serif;
}

#second{
    color:blue;
    font-size:36px;
}

#third{
    font-size:24px;
}

#forth{
    background-color:rgb(108, 230, 108);
    font-size:24px;
    font-weight:bold;
}