* {
  margin: 0;
  padding: 0;
  max-height:100vh;
  max-width:100vw;
}

.container {
  text-align: center;
  display:grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 4fr;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-area:1 / 1 / 1 / 3;
}
.logo{
  grid-area: 1 / 1 / 1 / 1;
  text-align:left;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style-type:none;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows:1fr;
  gap:15px;
  align-items:center;
}

.sidebar {
  background-color: #C50208;
  display:grid;
  grid-area: 2 / 1 / 4 / 1;
  gap:50px;
  text-align:center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display:grid;
  align-items:center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display:grid;
   align-items:center;
}


.nav {
  background-color: #C50208;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-area: 2 / 2 / 2 / 2;
  /* text-align:center; */
  align-items:center;
 
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;

}

.nav ul{
  display:grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  text-align:center;
  grid-area: 1 / 1 / 2 / 4;

}


.article {
  background-color: #bccbde;
  display:grid;
  grid-area: 3 / 2 / 3 / 2;
  /* grid-template-rows: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height:200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding:5px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  display:grid;
  grid-area: 4 / 1 / 4 / 3;
;}

.footer p {
  font-size: 13px;
  font-weight: normal;
}