body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display:grid;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  grid-template-columns: 300px 900;
  grid-template-rows: 100px 100px 500px 100px;
  gap:15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  grid-area: 1 / 4 / 2 / 1;
}

.sidebar {
  background-color: #005B94;
  grid-area: 4 / 1 / 2 / 2;
}

.nav {
  background-color: #642cde;
  grid-area: 2 / 2 / 2 / 4;
}

.article {
  background-color: #7E1DC3;
  grid-row: 3;
  grid-column: 2 / 4;
}

.footer {
  background-color: #393f4d;
  grid-area: 4 / 4 / 4 / 1 ;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}